<!DOCTYPE html>
<html>

<head>
    <title>PDF Merger</title>
    <link rel="icon" href="{{ url_for('static', filename='Icons/web-icon.ico') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orbitron:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">

    <script>
        function addFileInput() {
            var fileInputContainer = document.getElementById("file-inputs");
            var newFileInput = document.createElement("input");
            newFileInput.type = "file";
            newFileInput.name = "file";
            newFileInput.required = true;
            newFileInput.className = "file-input";
            fileInputContainer.appendChild(newFileInput);
        }
        
        function validateForm() {
            var fileCount = document.getElementById("file-inputs").getElementsByTagName("input").length;
            if (fileCount < 2) {
                alert("Please select at least 2 PDF files to merge.");
                return false;
            }
        }
    </script>

<body>

    <header>
        <nav class="nav">

            <div class="nav-item-container">

                <a class="nav-home" href="/home"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                    <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                  </svg>HOME</a>
    
                <a class="nav-about" href="{{ url_for('about') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-person-fill" viewBox="0 0 16 16">
      <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755z"/>
    </svg>ABOUT</a>
    
                <a class="nav-contact" href="{{ url_for('contact') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-forward-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm10.761.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708z"/>
                  </svg>CONTACT</a>
    
                <a class="nav-profile" href="{{ url_for('profile') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
    </svg>PROFILE</a>

            </div>
        </nav>
    </header>


    <main>

        <div class="container">
            <h1>PDF MERGER</h1>
            <form action="/" method="post" enctype="multipart/form-data" onsubmit="return validateForm()" target="_blank">
                <div class="inp-merge">
                    <div class="inp-container">
                        <div class="file-input-container" id="file-inputs">
                            <input class="file-input" type="file" name="file" required>
                        </div>
                    </div>
                    <br>
                    
                    <button class="btn-another" type="button" onclick="addFileInput()">
                        <img class="img-add-pdf" src="{{ url_for('static', filename='Icons/add_pdf.png') }}">
                        Add Another PDF
                    </button>
                </div>
    
                <br><br>

                <div class="form-group merge-pdf-name">
                    <label for="output_filename">Merged PDF name should be</label>
                    <input type="text" id="output_filename" name="output_filename" required>
                </div> <br>
                
                <button class="in-merge" type="submit" id="merge-btn" name="merge-btn">
                    <img class="img-merge" src="{{ url_for('static', filename='Icons/merge_2.png') }}">
                    Merge PDFs
                </button> <br>
                  
                <br>
                <button class="in-download" type="submit" id="download-btn" name="download-btn">
                    <img class="img-download" src="{{ url_for('static', filename='Icons/download.png') }}">
                    Download
                </button>

                
            </form>
        </div>

    </main>

    <footer>
        <div class="footer-container">
            <p>&copy; 2023-@rnab. All rights reserved.</p>
        </div>
    </footer>
    
</body>
</html>